{% extends "base.html.twig" %}

{% block title %}
    {{title}}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/components/core.js"></script>
{% endblock %}

{% block body %}
    <div class="container" ng-app="Coffee">
        <div class="row">
            <div class="col-md-12 text-left">
                <h1>{{title}} <small>list</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">        
                <core></core>
            </div>
        </div>
    </div>
{% endblock %}