<!-- add new -->
<div class="row" style="margin : 2%;">
    <div class="col-md-10">
        <input type="text" class="form-control input-lg" ng-model="newEntry" style="width : 100%;">
    </div>
    <div class="col-md-2">
        <button ng-click="add()" class="btn btn-primary btn-lg" style="width : 100%;">Add New</button>
    </div>
</div>

<!-- TABLE -->
<div class="row" ng-show="coffeeList">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped">
            <tr>
                <td><strong>#</strong></td>
                <td><strong>Coffee</strong></td>
                <td></td>
            </tr>
            <tr ng-repeat="element in coffeeList | orderBy: 'Position'">
                <td><strong>{{element.Position}}</strong></td>
                <td style="width : 90%">
                    <span ng-hide="element.visible" ng-click="element.visible=!element.visible" style="cursor : pointer;" title="Click to update">
                        {{element.Name}}
                    </span>
                    <div class="input-group" ng-show="element.visible">
                        <input type="text" class="form-control input-sm" ng-model="element.newValue" placeholder="{{element.Name}}">
                        <span class="input-group-addon label-success">
                            <span class="glyphicon glyphicon glyphicon-floppy-disk" aria-hidden="true" ng-click="edit(element)" style="cursor : pointer;" title="Update"></span>
                        </span>
                        <span class="input-group-addon label-warning">
                            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="element.visible=!element.visible" style="cursor : pointer;" title="Cancel"></span>
                        </span>
                    </div>
                </td>
                <td style="width : 10%" class="text-right">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-click="move(element._id,-1)" title="Move up" style="cursor : pointer;" ng-hide="element.Position == 1"></span>
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-click="move(element._id,1)" title="Move down" style="cursor : pointer;" ng-hide="$last"></span>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="delete(element._id)" style="cursor : pointer;" title="Delete"></span>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- empty list scenario -->
<div class="row" ng-hide="coffeeList">
    <div class="col-md-8 col-md-offset-2">
        <h2>Your Coffee List is empty. Start by adding one!</h2>
    </div>
</div>